// Variables declaration

@mixin button($backgroundColor: $black, $backgroundColorSecond: transparent) {
    background-color: $backgroundColor;
    border: 2px solid $backgroundColor;
    outline: 0 !important;
    @include m1024 {
        &:hover, &:focus-within {
            color: $backgroundColor;
            background-color: $backgroundColorSecond;
        }
    }
}

//FONTS
$fontTitle: "bello-caps", sans-serif;

//IMAGES
$imgPath: '../../assets/img/';
// Use : background-image: url('#{$imgPath}menu-wave-mini.svg');

//COLORS
$black: #000000;
$white:#ffffff;